* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5; 
  color: #333;
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;   
}

div {
  background-color: #fff;         
  border: 2px solid #ccc;         
  border-radius: 10px;            
  padding: 20px;                  
  width: 400px;                  
  text-align: center;             
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1,h2{
    color: #2c3e50;
    height: 15vh;
}

ul{
    list-style: none;
   
}
li{
    margin: 40px 0;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
  color: #cc00ff; 
  transition: 0.4s;
}